{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

    <div style="background-color: black;"></div>
    <div class="p-3 mb-2 bg-info text-white">ToDoList App</div>
    <div class = "login"  >

        <form method="POST" action="">
            {% csrf_token %}
            <div class="mx-auto card align-items-center  text-white bg-info mb-3 w-50 " >
            
                <div class="card-body">
                    <h2 class="card-title"> <center>Login</center></h2>
                    
                        <table>
                            <tr>
                                <td>Username: </td>
                                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                            </tr>
                                    
                            <tr>
                                <td>Password: </td>
                                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                            </tr>
                            <tr>
                                
                                <td></td>
                                
                                <td><input class="btn btn-light" type="submit" value="Login" ></td>
                            
                            </tr>
                            
                        </table>
                        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

                </div>
            </div>
            
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        
    </div>

{% endblock content %}